#surveyH1 {
    color: blue;
}

.feelingEmoji {
    font-size: 150px;
}

.feelingEmoji:hover {
    cursor: pointer
}

.selectedEmoji {
    background-color: gray;
    font-size: 150px;
    border-radius: 30%;
}